
<h1>All Landmarks:</h1>
<% @landmarks.each do |landmark| %>
  <a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a> - <%= landmark.year_completed %>
<% end %>
<a href="/landmarks/new"><input type="button" value="Create New Landmark"></a>
